.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
}

.title{
  font-family: Abril Fatface;
  font-size: 2rem; 
  white-space: nowrap;
}

.intro{
  font-size: 1.2rem;
  padding: 2%;
}

.inputsButton{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 2%;

}



input{
  padding: 1%;
  margin: 2%;
  
}



.tickerData{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
}

.data{
  display: flex;
  flex-direction: column; 
  border: .1rem solid black;
  padding: 2%;
  margin: 2%;
  width: 40%;
  white-space: nowrap;
    
}

.dataRED{
  display: flex;
  flex-direction: column; 
  border: .1rem solid black;
  padding: 2%;
  margin: 2%;
  width: 40%;
  white-space: nowrap;
  color: red;

}

.dataGREEN{
  display: flex;
  flex-direction: column; 
  border: .1rem solid black;
  padding: 2%;
  margin: 2%;
  width: 40%;
  white-space: nowrap;
  color: darkgreen;

}

.notFound{
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media screen and (max-width: 600px ) {
  

  .inputsButton{  
    flex-direction: column;
  }

  .tickerData{
    flex-direction: column;
    align-items: center;
  }

  .data{
    width: 50%;
  }
}
